html, body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: white;
}
header {
  align-items: center;
  display: flex;
}
nav {
  position: fixed;
  right: 135px;
  top: 63px;
  width: 406px;
}
#logo,
nav  {
  flex: 1;
}
#logo {
  position: fixed;
  left: 135px;
  top: 60px;
  font-family: 'Roboto-Bold', sans-serif;
  color: white;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav li {
  list-style: none;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
}
a {
  text-decoration: none;
  color:white;
}
#hero-section {
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 5%;
}
#hero-section-text {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block; 
}
#roboto-l {
  display: flex;
  align-items: stretch;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 80px;
  color: white;
}
#roboto-m {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 36px;
  padding: 0;
  margin: 0;
  color: white;
}
.parallax {
  background: url("../assets/vr.png") no-repeat fixed;
  background-position: center top;
  background-size: 100%;
  width: 100vw;
  height: 80vh;
  z-index: 1;
}
.main-container {
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}
.content-container {
  margin-top: 200px;
  display: block;
  height: 100vh;
}
.pre-content {
  text-align: center;
  width: 574px;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.content {
  max-width: 750px;
  margin: 0 auto;
  padding: 75px 0;
}
.container {
      display: grid;
       grid-template-columns: repeat(auto-fit, minmax(574px, 1fr));
      grid-gap: 20px;
    }
    .itm {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      display: grid;
      grid-gap: 10px;
      align-items: center;
      color: white;
      font-weight: 100;
    }
    .bucket {
      width: 100%;
    }

    @keyframes slidein {
  from {
    bottom: -50px
  }

  to {
    bottom: 0px
  }
}

.card {
  position: relative;
  overflow:hidden
}

.card .bucket {
  background: #FAFAFA
}

.card .title {
  width: 100%;
  background: #CCC;
  text-align: center;
  display: none;
  bottom: 0px;
}

.card:hover .title {
  display: block;
  position: absolute;
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

  

    .footer {
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     width: 100%;
     height: 200px;
     background-color: #F3F3F3;
     text-align: center;
     margin-bottom: -50px;
     font-size: 1em;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
    }


@media screen and (max-width: 600px) {
  .parallax {
    display: flex;
    flex-direction: column;
  }
  #hero-section {
    display: flex;
    flex-direction: column;
  }
  #roboto-l {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  position: relative;
}
  #roboto-m {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  position: relative;
}
nav {
  display: none;
}
#logo {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 1em;
  position: relative;
}
.pre-content {
  display: flex;
  flex-direction: column;
  font-size: 1em;
 }

}


